<!DOCTYPE html>
<html>
<head>
	<title>CCNUACN Admin</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/css/mainstyle.css">
    <!-- <link rel="stylesheet" href="./stylesheets/mainstyle.css">　-->
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
	<h1>admin</h1>
	<a href="/admin/logout">logout</a>

	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>email</th>
				<th>team</th>
				<th>leader</th>
				<th>member</th>
				<th>member</th>
				<th>school</th>
				<th>phone</th>
				<th>qq</th>
				<th>option</th>
			</tr>
		</thead>
		<tbody>

	<% users.forEach(function(user, index) { %>
		<tr <% if (user.statu == 1) {%> class="warning"<%} else if (user.statu == 2) {%> class="success" <% } %> >
			<td><%= user.email%></td>
			<td><%= user.nick%></td>
			<td><%= user.teamer1%></td>
			<td><%= user.teamer2%></td>
			<td><%= user.teamer3%></td>
			<td><%= user.school%></td>
			<td><%= user.phone%></td>
			<td><%= user.qq%></td>
			<td>
				<% if (user.statu == 0) {%>
					Not apply
				<% } else if (user.statu == 1) {%>
					<a href="/admin/accept/<%= user.id%>">accept</a>
				<% } else {%>
					<a href="/admin/revoke/<%= user.id%>">revoke</a>
				<% }%>
			</td>
		</tr>
	<% }) %>

		</tbody>
	</table>
	</div>
</body>
</html>
