<%- include header %>

<h1>admin</h1>
<a href="/admin/logout">logout</a>

<table border="1">
	<thead>
		<tr>
			<th>email</th>
			<th>name</th>
			<th>nick</th>
			<th>studentID</th>
			<th>college</th>
			<th>phone</th>
			<th>qq</th>
			<th>option</th>
		</tr>
	</thead>
	<tbody>
		
<% users.forEach(function(user, index) { %>
	<tr>
		<td><%= user.email%></td>
		<td><%= user.name%></td>
		<td><%= user.nick%></td>
		<td><%= user.studentID%></td>
		<td><%= user.college%></td>
		<td><%= user.phone%></td>
		<td><%= user.qq%></td>
		<td>
			<% if (user.statu == 0) {%>
				Not apply
			<% } else if (user.statu == 1) {%>
				<a href="/admin/accept/<%= user.id%>">accept</a>
			<% } else {%>
				<a href="/admin/revoke/<%= user.id%>">revoke</a>
			<% }%>
		</td>
	</tr>
<% }) %>

	</tbody>
</table>

<%- include footer %>